extends layout

block content
  form(action="/new", method="post" class="form") 
    label(for="user") Author
    input(type="text" name="user" id="user")
    label(for="text") Post
    input(type="text" name="text" id="text")
    button Submit