extends layout

block content
  h1 Welcome to the zone
  ul(class="posts")
    each post in posts
      li
        div(class="post")
          h3= post.text
          p= post.user
          p= post.added
  a(href="/new" class="new-post") New Post
